@use "../variables";
@import "../functions";

%form-input {
  display: block;
  padding: get-global-input-size('normal');
  background: get-global-input-color('default');
  color: get-global-input-color('default','text');
  font-size: get-global-font('normal','size');
  text-decoration: none;
  border: none;
  outline: none;
  @include __border_radius("medium", true);
  @include __transition();
  @include __box_shadow(none);

  &:hover, &:focus{
    background: get-global-input-color('default','hover');
    color: get-global-input-color('default','hover-text');
  }

  &::placeholder {
    color: get-global-input-color('default','text');
  }

  &::-ms-input-placeholder {
    color: get-global-input-color('default','text');
  }
}

.form-input {
  @extend %form-input;

  // Filled style.
  @each $color,$value in variables.$inputColors {
    &--#{$color} {
      background: get-global-input-color($color,'normal');
      color: get-global-input-color($color,'text');

      &:hover, &:focus{
        background: get-global-input-color($color,'hover');
        color: get-global-input-color($color,'hover-text');
      }

      &::placeholder {
        color: get-global-input-color($color,'text');
      }

      &::-ms-input-placeholder {
        color: get-global-input-color($color,'text');
      }
    }
  }

  // Outlined style.
  @each $color,$value in variables.$inputColors {
    &--outlined-#{$color} {
      background: transparent;
      border: get-global-input-color($color,'normal') 1px solid;
      color: #555;

      &:hover, &:focus{
        background: transparent;
        border: get-global-input-color($color,'hover') 1px solid;
        box-shadow: get-global-input-color($color,'hover') 0 0 0 1px;
        color: #333;
      }

      &::placeholder {
        color: #555;
      }

      &::-ms-input-placeholder {
        color: #555;
      }
    }
  }

  @each $size,$value in variables.$inputSizes {
    &--#{$size} {
      padding: get-global-input-size($size);
    }
  }
}

.form-input-group {
  display: flex;
  gap: 0.5rem;

  .form-input, .fill-item{
    flex: 1;
  }

  &--floating {
    position: relative;

    .group-button {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);

      &--left{
        right: auto;
        left: 0;
      }
    }
  }
}